body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #333;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff !important;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff !important;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(179, 4, 4, 0.1);
}

.img-fluid {
    border-radius: 5px;
}
#message {
    resize: none;
}